.barraNavegacao {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #931a30;
}

.barraNavegacao button {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.boi {
    width: 100px;
    height: 70px;
}

.carrinho {
    width: 30px;
    height: 30px;
}

.ativo {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
}

.botaoCadastro {
    background-color: #fff;
    color: #931a30;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botaoCadastro:hover {
    background-color: #e6e6e6;
}

.usuario {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 10px;
}
