.deslizante {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    height: 50vw;
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.deslizamentos {
    width: 400%;
    height: 100%;
    display: flex;
}

.deslizamentos input {
    display: none;
}

.deslizamento {
    width: 25%;
    position: relative;
    transition: 2s;
}

.deslizamento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navegacaoManual {
    position: absolute;
    width: 100%;
    max-width: 800px;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.botaoManual {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.botaoManual:not(:last-child) {
    margin-right: 40px;
}

.botaoManual:hover {
    background: #fff;
}

#radio1:checked ~ .primeira {
    margin-left: 0;
}

#radio2:checked ~ .primeira {
    margin-left: -25%;
}

#radio3:checked ~ .primeira {    
    margin-left: -50%;
}

#radio4:checked ~ .primeira {    
    margin-left: -75%;
}

.navegacaoAutomatica {
    position: absolute;
    width: 100%;
    max-width: 800px;
    bottom: 50px;
    display: flex;
    justify-content: center;
}

.navegacaoAutomatica div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacaoAutomatica div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navegacaoAutomatica .botaoAuto1 {
    background: #fff;
}

#radio2:checked ~ .navegacaoAutomatica .botaoAuto2 {
    background: #fff;
}

#radio3:checked ~ .navegacaoAutomatica .botaoAuto3 {
    background: #fff;
}

#radio4:checked ~ .navegacaoAutomatica .botaoAuto4 {
    background: #fff;
}

@media (max-width: 600px) {
    .botaoManual:not(:last-child),
    .navegacaoAutomatica div:not(:last-child) {
        margin-right: 20px;
    }

    .navegacaoAutomatica {
        bottom: 30px;
    }

    .navegacaoManual {
        bottom: 5px;
    }
}
