.body{
    background-image: url("/src/assets/bovinoBackground.png");
    background-size: cover;
}

.titulo{
    display: flex;
    justify-content: space-between;
    filter: none;
}

.container{
    box-shadow: 1px 1px 10px #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}